<div id="loader" ng-show="$ctrl.fetching.stores"></div>
<div class="container" ng-if="!$ctrl.fetching.stores">
  <div class="page-header">
    <h3>
      <span>Stores</span>
      <button class="btn btn-primary pull-right" ui-sref="store-form" ng-if="$ctrl.isAdmin()">
        <i class="fa fa-plus"></i> Add
      </button>
    </h3>
  </div>
  <ul class="list-group user-list" ng-if="$ctrl.stores.length > 0">
    <li class="list-group-item" ng-repeat="store in $ctrl.stores">
      <div class="user-info">
          <strong>{{store.name}}</strong><br>
          <span class="text-muted">{{store.address}}</span>
      </div>
      <a class="list-button" ui-sref="store-show({id: store._id})"><span class="fa fa-eye fa-2x"></span></a>
      <a class="list-button" ui-sref="store-form({id: store._id})" ng-if="$ctrl.isAdmin()"><span class="fa fa-edit fa-2x"></span></a>
      <a ng-click="$ctrl.delete(store)" class="trash" ng-if="$ctrl.isAdmin()"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
  <div class="col-xs-12 text-center" ng-if="$ctrl.stores.length > 0">
    <ul uib-pagination boundary-links="true"
      total-items="$ctrl.pagination.total"
      items-per-page="$ctrl.params.max"
      ng-model="$ctrl.pagination.page"
      class="pagination-sm"
      ng-change="$ctrl.getList()"
      previous-text="&lsaquo;" next-text="&rsaquo;"
      first-text="&laquo;" last-text="&raquo;">
    </ul>
  </div>
  <div class="alert alert-warning" role="alert" ng-show="$ctrl.stores.length === 0">
    No stores found.
  </div>
</div>
