<div id="loader" ng-show="$ctrl.fetching.store"></div>
<div class="container" ng-if="!$ctrl.fetching.store">
  <div class="row">
    <div class="page-header">
      <h3>Store</h3>
    </div>
    <div class="col-xs-12">
      <dl class="store-info">
        <dt>Name</dt>
        <dd ng-bind="$ctrl.store.name"></dd>
        <dt>Address</dt>
        <dd ng-bind="$ctrl.store.address"></dd>
        <dt>Date Created</dt>
        <dd ng-bind="$ctrl.store.createdAt | date: medium"></dd>
        <dt>Map</dt>
        <dd ng-if="$ctrl.center">
          <leaflet lf-center="$ctrl.center" markers="$ctrl.markers" paths="$ctrl.path" height="480px" width="680px"></leaflet>
        </dd>
      </dl>
      <div class="col-xs-12 no-padding" ng-if="!$ctrl.isAdmin()">
        <div class="col-xs-12 no-padding form-group">
          <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.showDirection()" ng-disabled="$ctrl.shown.current">Show Direction From Current Location</button>
        </div>
        <div class="panel panel-default col-md-6 col-xs-12 no-padding">
          <div class="panel-heading">Get Direction From a Location</div>
          <div class="panel-body">
            <div class="form-group" ng-if="!$ctrl.isAdmin()">
              <span>Start:</span>
              <input type="text" class="form-control" ng-model="$ctrl.geo"
                    g-places-autocomplete required autocomplete="off" options="$ctrl.autocompleteOptions" />
            </div>
            <div>
              <button type="button" class="btn btn-danger btn-sm" ng-disabled="!$ctrl.selectedLoc.lat || !$ctrl.selectedLoc.lng || !$ctrl.geo || $ctrl.shown.custom" ng-click="$ctrl.showInputDirection()">Show</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-left form-inline no-padding">
            <button type="button" class="btn btn-default btn-sm" ui-sref="store-list">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
